In [1]:
import pandas as pd
df = pd.read_csv("/data/ephemeral/home/hackathon/data/melb_data.csv")

df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [2]:
# 데이터 타입별 컬럼 구분
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
boolean_columns = df.select_dtypes(include=['bool']).columns.tolist()
datetime_columns = df.select_dtypes(include=['datetime64']).columns.tolist()
other_columns = df.select_dtypes(exclude=['int64', 'float64', 'object', 'category', 'bool', 'datetime64']).columns.tolist()

# 결과 출력
print("범주형 데이터 컬럼:", categorical_columns)
print("수치형 데이터 컬럼:", numerical_columns)
print("Boolean 데이터 컬럼:", boolean_columns)
print("Datetime 데이터 컬럼:", datetime_columns)
print("기타 데이터 컬럼:", other_columns)

범주형 데이터 컬럼: ['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea', 'Regionname']
수치형 데이터 컬럼: ['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude', 'Propertycount']
Boolean 데이터 컬럼: []
Datetime 데이터 컬럼: []
기타 데이터 컬럼: []

In [3]:
# 특정 열의 결측치 비율 계산 함수
def calculate_missing_percentage(df, columns):
    """
    데이터프레임에서 특정 열의 결측치 비율을 계산합니다.
    
    Args:
        df (pd.DataFrame): 데이터프레임
        columns (list): 결측치를 계산할 열의 리스트
        
    Returns:
        dict: 열 이름과 해당 열의 결측치 비율(%)
    """
    return {col: df[col].isnull().mean() * 100 for col in columns}

# 'BuildingArea'와 'YearBuilt' 열의 결측치 비율 계산
missing_columns = ['BuildingArea', 'YearBuilt']
missing_percentages = calculate_missing_percentage(df, missing_columns)

# 결과 출력
for column, percentage in missing_percentages.items():
    print(f"'{column}' column has {percentage:.2f}% missing values.")

'BuildingArea' column has 47.50% missing values.
'YearBuilt' column has 39.58% missing values.